@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-black text-white;
}

.bg-custom {
  background-image: url('/public/images/banner1.webp');
  background-size: cover;
  background-position: center;
}

